// -- Project Skills -- //

$ns: '.component-project-skills';

#{$ns} {
  li {
    list-style-type: none;
    margin-bottom: 22px;
    margin-left: 40px;

    &:before {
      color: solid-color('code-blue');
      content: '//';
      margin-left: -40px;
      margin-right: 20px;
    }
  }
}
