// -- Animations -- //

@mixin indecator--level {
  width: 40px;
  height: 8px;
  margin-right: 4px;
  border-radius: 4px;
}
@mixin indicator--level__easy {
  @include indecator--level
  background-color: #5AAC1E;
}
@mixin indicator--level__moderate {
  @include indecator--level
  background-color: #20A5F8;
}
@mixin indicator--level__hard {
  @include indecator--level
  background-color: #F84A20;
}